#include <windows.h>
#include "resources.h"
#include <shlobj.h>
#include <dlgs.h>

ID_ICON ICON "setup.ico"
ID_TREE_BMP BITMAP DISCARDABLE "treeviewIcon.bmp"
ID_SMALLTREE_BMP BITMAP DISCARDABLE "treeviewIconSmall.bmp"

ID_WELCOMEWINDOW DIALOGEX 0, 0, 330, 235
STYLE DS_MODALFRAME | WS_SYSMENU | WS_POPUP | WS_CAPTION | WS_MINIMIZEBOX
FONT 8, "MS Sans Serif"
CAPTION "Setup - Java TreeView"
BEGIN
  CONTROL "",-1,"STATIC",SS_ETCHEDHORZ, 0,160,331,0
  LTEXT "Installation directory:", ID_TITLE,20,165,300,20
  CONTROL "",ID_DIRLABEL,"EDIT", WS_CHILD | WS_VISIBLE | ES_READONLY |ES_MULTILINE, 20,175,200,40
  PUSHBUTTON "&Change directory" ID_CHANGEDIR,20,215,70,14, BS_CENTER
  PUSHBUTTON "&Cancel" IDCANCEL,270,215,50,14, BS_CENTER
  DEFPUSHBUTTON "&Next >" ID_NEXT,200,215,50,14, BS_CENTER
END

ID_STARTMENUWINDOW DIALOGEX 0, 0, 330, 235
STYLE DS_MODALFRAME | WS_SYSMENU | WS_POPUP | WS_CAPTION | WS_MINIMIZEBOX
FONT 8, "MS Sans Serif"
CAPTION "Setup - Java TreeView"
BEGIN
  CONTROL "",-1,"STATIC",SS_ETCHEDHORZ, 0,48,331,0
  CONTROL "",-1,"STATIC",SS_ETCHEDHORZ, 0,205,331,0
  LTEXT "Select the Start Menu Folder in which you would like Setup to create the program's shortcuts, then click Next.", -1,20,55,300,20
  CONTROL "Cluster",ID_STARTUPGROUP,"EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER, 20,75,300,12
  CONTROL "",ID_STARTUP,"listbox", WS_CHILD | WS_VISIBLE | WS_BORDER | LBS_STANDARD, 20,92,300,110
  PUSHBUTTON "< &Back" ID_BACK,220,215,50,14, BS_CENTER
  DEFPUSHBUTTON "&Next >" ID_NEXT,270,215,50,14, BS_CENTER
END

ID_VERIFYWINDOW DIALOGEX 0, 0, 330, 235
STYLE DS_MODALFRAME | WS_SYSMENU | WS_POPUP | WS_CAPTION | WS_MINIMIZEBOX
FONT 8, "MS Sans Serif"
CAPTION "Setup - Java TreeView"
BEGIN
  CONTROL "",-1,"STATIC",SS_ETCHEDHORZ, 0,48,331,0
  CONTROL "",-1,"STATIC",SS_ETCHEDHORZ, 0,205,331,0
  LTEXT "Click Install to continue with the installation, or click Back if you want to review or change any settings.", -1,20,55,300,20
  CONTROL "",-1,"STATIC",SS_SUNKEN, 20,85,270,100
  LTEXT "Destination directory:", -1,21,86,240,20
  CONTROL "",ID_DIRECTORY,"EDIT", WS_CHILD | WS_VISIBLE | ES_READONLY |ES_MULTILINE, 30,95,250,40
  LTEXT "Start Menu folder:", -1,21,125,240,20
  CONTROL "",ID_GROUP,"EDIT", WS_CHILD | WS_VISIBLE | ES_READONLY | ES_MULTILINE, 30,135,250,40
  PUSHBUTTON "< &Back" ID_BACK,220,215,50,14, BS_CENTER
  DEFPUSHBUTTON "&Install" ID_INSTALL,270,215,50,14, BS_CENTER
END

ID_COPYWINDOW DIALOGEX 0, 0, 330, 235
STYLE DS_MODALFRAME | WS_SYSMENU | WS_POPUP | WS_CAPTION | WS_MINIMIZEBOX
FONT 8, "MS Sans Serif"
CAPTION "Setup - Java TreeView"
BEGIN
  CONTROL "",-1,"STATIC",SS_ETCHEDHORZ, 0,48,331,0
  CONTROL "",-1,"STATIC",SS_ETCHEDHORZ, 0,205,331,0
  LTEXT "Copying files...", -1,20,66,240,20
  CONTROL "",ID_FILENAME,"EDIT", WS_CHILD | WS_VISIBLE | ES_READONLY |ES_MULTILINE, 20,80,240,60
  /* CONTROL "",-1,"msctls_progress32",WS_CHILD | WS_VISIBLE, 20,140,280,20 */
  DEFPUSHBUTTON "&Cancel" IDCANCEL,270,215,50,14, BS_CENTER
END

ID_FINISHWINDOW DIALOGEX 0, 0, 330, 235
STYLE DS_MODALFRAME | WS_SYSMENU | WS_POPUP | WS_CAPTION | WS_MINIMIZEBOX
FONT 8, "MS Sans Serif"
CAPTION "Setup - Java TreeView"
BEGIN
  CONTROL "",-1,"STATIC",SS_ETCHEDHORZ, 0,205,331,0
  DEFPUSHBUTTON "&Finish" IDOK,270,215,50,14, BS_CENTER
END

